@model Houzing.Data.Houses.HouseItem

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>HouseItem Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Garage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Garage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearBuilt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearBuilt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parking)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parking)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Garden)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Garden)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Balcony)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Balcony)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Img1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Img1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Img2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Img2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Img3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Img3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
