@model IEnumerable<Houzing.Data.UserRolesViewModel>

@{
    ViewBag.Title = "List Users";
    Layout = "~/Views/UsersRoles/_RolesLayout.cshtml";
}

<h1>List Users </h1>
<h4>You can manage all Users</h4>

<a class="btn btn-primary mb-3" href="~/UsersRoles/AddRole">Add Roles</a>

<table class="table table-bordered table-hover table-responsive" border="1">
    <tr>
        <th>Email</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Role</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>@string.Join(" , ", user.Roles.ToList())</td>
            <td>
                <a class="btn btn-primary" asp-controller="UsersRoles" asp-action="Manage" asp-route-userId="@user.UserId">Manage Roles</a>
            </td>
            <td>
                <form asp-action="Delete" asp-route-id="@user.UserId" method="post">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
    }
</table>